// Colors
$color-yellow: #ffce17;
$color-red: #d22d2d;

$color-white: #FFF;
$color-black: #000;

$color-grey-dark-1: rgba(173, 173, 173, 0.2);
$color-grey-dark-2: #3c3c3c;
$color-grey-dark-3: rgba(173, 173, 173, 0.5);

$color-grey-light-1: #EEE;
$color-grey-light-2: #e6e6e6;
$color-grey-light-3: #dee2e6;
$color-grey-light-4: #AAA;

$width-nav-change: 975px;
$width-sm-change: 768px;
$grid-change-md: 992px;
$grid-change-sm: 576px;

//Mega Menu
$megamenu-vertical-margin: 6px;