.side-buttons {

  .row {
    height: 33.3333%;
  }
}

@media (max-width: $width-sm-change) {
  .index-main {
    margin-bottom: 85px;
  }
  .side-buttons {

    .row {
      margin-bottom: 2rem;

      div {
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: $width-sm-change) {
  .side-buttons {

    .row {
      margin-bottom: 2rem;

      div {
        padding: 0 !important;
      }
    }
  }
}